.DAL_popup{
    width: 700px;
    height: 900px;
    background: #fff;
    position: absolute;
    right:0;
    top: -110px;
    box-shadow: 0px 0px 20px #ccc;
    overflow: hidden;
    overflow-y: scroll;
}
.DAL_popup .DAL_popup_tit1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.DAL_popup .DAL_popup_tit1 h4{
    margin-left: 20px;

}
.DAL_popup .DAL_popup_tit1 p{
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.app_norm_tabs{
    margin-left: 20px;
  }
  .app_norm_tabs .ant-tabs-nav .ant-tabs-tab-active {
      color: #fff !important;
      font-size: 14px !important;
      background-color: rgba(0, 153, 255, 1)!important;
      border-radius: 2px !important;
  }
  .app_norm_tabs .ant-tabs-nav .ant-tabs-tab{
    border: 1px solid rgb(217, 217, 217) !important;
    border-right:none !important;
    width: 80px !important;
    height: 32px !important;
  }
  .app_norm_tabs .ant-tabs-nav .ant-tabs-tab{
    margin: 0 0 0 0  !important;
  }
  .app_norm_tabs .ant-tabs-bar{
    border-bottom:none !important;
  }
  .app_norm_tabs .ant-tabs-ink-bar{
    display: none !important;
  }
  .app_norm_tabs .ant-tabs-nav-scroll{
      padding-bottom: 10px !important;
  }
  .app_norm_tabs .ant-tabs-nav .ant-tabs-tab{
    padding:0 !important;
    text-align: center !important;
    padding-top: 5px !important;
  }
  .app_norm_tabs .ant-tabs-nav{
    border-right: 1px solid rgb(217, 217, 217) !important;
  }

.app_norm_tabs .ant-table-tbody > tr > td {
    padding: 3px 14px !important;
}
.app_norm_tabs .details_popup_tit2{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}